#like_button{
  color: red;
  background-color: red;

}

.info_container{

}

.restaurant_name{
  text-align: center;
}

.like_button{
  background-color: #F8E9A1;
  border: 2px solid;
  margin: 0px 5px;
}

.dislike_button{
  background-color: #F76C6C;
  border: 2px solid;
  margin: 0px 5px;
}

.like_container{
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

 #mapid {
   /* height: 100%; */
   width: 100%;
   margin-bottom: 10px;
   border: 3px solid;
   border-color: #374785;
   border-radius: 20px;
   height: 50%; 
}
