.nb{
  all: unset;
  align-items: center;
  justify-content: flex-start;
  /* justify-content: space-between; */
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  padding: .5rem;
}

.nb_option{
  padding: 5px;
}
